language: cpp
os: windows
env:
  - MSBUILD_PATH="C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin"
install:
  - choco install visualstudio2019buildtools --package-parameters "--add Microsoft.VisualStudio.Component.VC.Tools.x86.x64"
  - choco install windows-sdk-10-version-2004-all
script:
  - export PATH=$MSBUILD_PATH:$PATH
  - cd src
  - MSBuild.exe -p:Configuration=Debug -p:useenv=true -p:Platform=x86 -p:PlatformToolset=v142 RPC/RPC.vcxproj
